<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyManagement">
        <activity
            android:name=".presentation.view.activity.currency.CurrencyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".presentation.view.activity.splashactivity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.activity.addnewactivity.AddNewActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            />
        <activity android:name=".presentation.view.activity.transactionsactivity.TransactionsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".presentation.view.activity.homeactivity.HomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".presentation.view.activity.staticactivity.StaticActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".presentation.view.activity.budgetactivity.BudgetActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".presentation.view.activity.budetdetailactivity.BudgetDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".presentation.view.activity.jardetailactivity.JarDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".presentation.view.activity.introactivity.IntroActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>